[submodule "contentms"]
	path = contentms
	url = ../contentms.git
[submodule "contentui"]
	path = contentui
	url = ../contentui.git
[submodule "userui"]
	path = userui
	url = ../userui.git
[submodule "commonui"]
	path = commonui
	url = ../commonui.git
[submodule "shipms"]
	path = shipms
	url = ../shipms.git
