[submodule "contentms"]
	path = contentms
	url = git@gitlab.com:cp2020/contentms.git
[submodule "mailerms"]
	path = mailerms
	url = git@gitlab.com:cp2020/mailerms.git
[submodule "contentui"]
	path = contentui
	url = git@gitlab.com:cp2020/contentui.git
[submodule "userui"]
	path = userui
	url = git@gitlab.com:cp2020/userui.git
